<section class="about-section">
  <div class="container">
    <h2 class="about-title">WHAT DO WE OFFER?</h2>
    <p class="about-desc">
      Software development services customized to the needs of your business and
      market challenges
    </p>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">DEVELOPMENT OF APPS FOR ANDROID</h3>
        <p class="about-item-desc">
          Our professional preference is Kotlin Native that allows to configure
          suitable solutions for our clients. Its compatibility with Java allows
          to integrate new instruments to the existing framework; allows to
          tackle mistakes at the compilation stages; provides contemporary
          functions; eliminates number of repetitions.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">DEVELOPMENT OF WEB APPS</h3>
        <p class="about-item-desc">
          We specialize on development both the frontend and backend components.
          For frontend development we work with a range of technologies
          including HTML, CSS, JS, and various frameworks such as React.js,
          Vue.js, Next.js. For backend development we use Node.js, Nest.js,
          and databases like MongoDB or MySQL.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">DEVELOPMENT OF APPS FOR iOS</h3>
        <p class="about-item-desc">
          Xcode, SwiftUI and UIKit are used to create the compelling iOS apps.
          Although our team consists of the professionals who use Objective-C
          for certain products' development and support.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">IoT DEVELOPMENT</h3>
        <p class="about-item-desc">
          IoT product development enhances the modern-day businesses. Our team
          helps to integrate devices and equipment necessary for the client's
          growth by means of Android Things, Arduino Sketch, UART.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">SERVER-SIDE SERVICES</h3>
        <p class="about-item-desc">
          Web services, web containers, database requests, custom services and
          other tasks that help to handle validating submitted data and
          requests, using databases to store and retrieve data and sending the
          correct data to the client as required.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">DevOps</h3>
        <p class="about-item-desc">
          DevOps provides unification of the product release by improving and
          shortening the system development life cycle. We support our clients
          at all stages by giving a comprehensive advise and planning of cloud
          infrastructure.
        </p>
      </li>
    </ul>
  </div>
  <div class="line"></div>
</section>
