<section class="about-section">
  <div class="container">
    <h2 class="about-title">Our services</h2>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">Development of web apps</h3>
        <p class="about-item-desc">
          We specialize in development of frontend and backend components. For
          frontend development we work with a range of technologies including
          HTML, CSS, JS, and various frameworks such as React.js, Vue.js,
          Next.js. For backend development we use Node.js, Nest.js, and
          databases like MongoDB or MySQL.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">Development of apps for ios</h3>
        <p class="about-item-desc">
          We provide iOS development using Swift or Objective-C, alongside
          popular frameworks such as UIKit and SwiftUI, enabling us to create
          highly functional mobile applications. Our skilled team creates
          dynamic and user-friendly product that meet your unique requirements.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">Development of apps for android</h3>
        <p class="about-item-desc">
          We offer Android app development expertise using Kotlin, Java, coupled
          with frameworks like Android Jetpack, Retrofit and Firebase. This
          comprehensive approach ensures that our apps are built efficiently,
          with optimal performance and seamless integration of advanced
          features.
        </p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">UX/UI design</h3>
        <p class="about-item-desc">
          Our services include UX/UI design, creating intuitive interfaces that
          capture users' attention and drive positive interactions. Our process
          includes user research, wireframing, prototyping, and visual design to
          ensure your digital products are both user-friendly and visually
          engaging.
        </p>
      </li>
    </ul>
  </div>
  <div class="line"></div>
</section>
