<section class="features-section">
  <div class="container">
    <h3 class="features-title">Perks and strengths</h3>
    <p class="features-desc">
      A reliable, time-efficient and profound expertise for the needs of our
      clients.
    </p>
    <ul class="features-list">
      <li class="features-item">
        <svg class="features-svg">
          <use href="/src/images/icons.svg#icon-communication"></use>
        </svg>
        <div>
          <h4 class="features-item-title">Transparent communication</h4>
          <p class="features-item-desc">
            We maintain transparent communication channels with clients, keeping
            them informed about project progress, milestones, and any potential
            challenges, fostering trust and collaboration throughout the
            engagement.
          </p>
        </div>
      </li>
      <li class="features-item">
        <svg class="features-svg">
          <use href="/src/images/icons.svg#icon-agile"></use>
        </svg>
        <div>
          <h4 class="features-item-title">Agile methodologies</h4>
          <p class="features-item-desc">
            We adopt agile methodologies such as Scrum or Kanban to streamline
            project management, promote flexibility, and adapt to changing
            client priorities and market dynamics effectively.
          </p>
        </div>
      </li>
      <li class="features-item">
        <svg class="features-svg">
          <use href="/src/images/icons.svg#icon-client"></use>
        </svg>
        <div>
          <h4 class="features-item-title">Client-centric approach</h4>
          <p class="features-item-desc">
            We prioritize understanding clients' needs and objectives, ensuring
            that every solution is tailored to meet their specific requirements
            and deliver maximum value.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
