<section class="process-section">
  <div class="container">
    <h3 class="process-title">OUR WORK PACE</h3>
    <p class="process-desc">
      Applying Agile principles we, in the meanwhile, like to closely
      interrelate with the clients' processes for achieving maximum results.
    </p>
    <ul class="process-list">
      <li class="process-item">
        <div class="process-num">1</div>
        <h4 class="process-item-title">REQUIREMENTS & RESEARCH</h4>
        <p class="process-item-desc">
          Upon acquaintance with us the clients reveal their needs and we sign a
          NDA. This allows us to communicate freely for tackling the challenges
          and shaping the possible solutions.
        </p>
      </li>
      <li class="process-item">
        <div class="process-num">2</div>
        <h4 class="process-item-title">FEATURES & ESTIMATIONS</h4>
        <p class="process-item-desc">
          Proper stack's selection, definition of the project's stages and lists
          of assignments lead to the product's backlog and business proposal.
        </p>
      </li>
      <li class="process-item">
        <div class="process-num">3</div>
        <h4 class="process-item-title">AGREEMENT</h4>
        <p class="process-item-desc">
          Signing the software development agreement gives the start of a new
          project.
        </p>
      </li>
      <li class="process-item">
        <div class="process-num">4</div>
        <h4 class="process-item-title">PLANNING</h4>
        <p class="process-item-desc">
          During the meeting with a client called "sprint planning" our team
          selects a number of product backlog items, usually in the form of user
          stories.
        </p>
      </li>
      <li class="process-item">
        <div class="process-num">5</div>
        <h4 class="process-item-title">DEVELOPMENT</h4>
        <p class="process-item-desc">
          Our development works include specifying, designing, coding, testing,
          bug fixing and modifying the product thus at the end of the sprint
          appears the demo.
        </p>
      </li>
      <li class="process-item">
        <div class="process-num">6</div>
        <h4 class="process-item-title">DELIVERY</h4>
        <p class="process-item-desc">
          The successful product is delivered, validated and launched at the
          client's environment. Our follow up team ensures the post-release
          activities to assist at any time.
        </p>
      </li>
    </ul>
    <div class="line"></div>
  </div>
</section>
