<section class="process-section">
  <div class="container">
    <h3 class="process-title">Industries we focus on</h3>
    <p class="process-desc">
      Our focus lies in serving various industries with tailored solutions to
      meet their unique needs and challenges.
    </p>
    <ul class="process-list">
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">FinTech</h4>
        <p class="process-item-desc">
          Payment Processing Solutions, Online Lending Platforms, Robo-Advisors,
          SaaS, Personal Finance Management Apps, Cryptocurrency and Blockchain
          Services, Digital Identity Verification, etc.
        </p>
      </li>
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">E-commerce</h4>
        <p class="process-item-desc">
          E-commerce Platforms, Shopping Cart Software, Inventory Management
          Software, Order Management Systems (OMS), Customer Relationship
          Management (CRM) Software, Analytics and Reporting Software, etc.
        </p>
      </li>
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">EdTech</h4>
        <p class="process-item-desc">
          Learning Management Systems (LMS), Virtual Learning Environments
          (VLE), Language Learning Apps and Software, Parent-Teacher
          Communication Platforms, etc.
        </p>
      </li>
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">HealthTech</h4>
        <p class="process-item-desc">
          Health and Wellness Apps, Clinical Decision Support Systems (CDSS),
          Patient Engagement Platforms, etc.
        </p>
      </li>
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">TravelTech</h4>
        <p class="process-item-desc">
          Booking and Reservation Systems, Travel Management Software (TMS),
          Travel Planning Tools, Tour Operator Software, Flight and Hotel
          Aggregators, etc.
        </p>
      </li>
      <li class="process-item">
        <svg class="process-svg" width="40px" height="40px">
          <use href="/src/images/icons.svg#icon-done"></use>
        </svg>
        <h4 class="process-item-title">Supply Chain Technology</h4>
        <p class="process-item-desc">
          Warehouse Management Systems, Transportation Management Systems,
          Supply Chain Visibility Platforms, etc.
        </p>
      </li>
    </ul>
    <div class="line"></div>
  </div>
  <div class="process-container">
    <div class="container">
      <div class="process-container-text">
        <p class="process-text">Ready to get started?</p>
        <div><button class="base-btn" type="button">Get in touch</button></div>
      </div>
    </div>
  </div>
</section>
