@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

:root {
  --main-text-color: #60697b;
  --light-text-color: #f9fafb;
  --main-bg-color: #ffffff;
  --main-accent-color: #3a6ee1;
  --secondary-accent-color: #04cb64;
  --add-first-color: #ecf404;
  --add-second-color: #d3e1ff;
  --add-third-color: #3293b2;
  --btn-bg-color: #f9fafb;
}

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  background: var(--main-bg-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.line {
  width: 140px;
  height: 2px;
  margin: 0 auto;
  background-color: var(--main-accent-color);
}

.base-btn {
  display: block;
  padding: 14px 28px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: var(--light-text-color);
  background-color: transparent;
  border: 1px var(--light-text-color) solid;
  border-radius: 32px;
  transition: color 250ms cubic-bezier(0.23, 0.86, 0.79, 0.77);
}

.base-btn:hover,
.base-btn:focus {
  color: var(--main-text-color);
  background-color: var(--btn-bg-color);
  outline: none;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}
