.features-section {
    padding: 60px 0;
  }

  .features-title {
    margin-bottom: 28px;
    text-align: center;
    font-size: 36px;
    line-height: 1.4;

    background: linear-gradient(to right, #3a6ee1, #04cb64);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .features-desc {
    margin: 0 auto 16px auto;
    max-width: 550px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
  }

  .features-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  .features-item {
    max-width: 335px;
    padding: 22px 12px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .features-svg {
    min-width: 60px;
    height: 60px;
  }

  .features-item-title {
    margin: 0 auto 8px auto;
    font-size: 18px;
    line-height: 1.4;
  }
  
  .features-item-desc {
    font-size: 16px;
    line-height: 1.4;
  }

  @media screen and (min-width: 768px) {
    .features-item {
      margin: 0 auto;
      max-width: 550px;
    }
  }

  @media screen and (min-width: 1280px) {
    .features-list {
      display: flex;
      flex-direction: row;
    }

    .features-item {
      max-width: 350px;
    }
  }