.footer {
  padding: 30px 0 40px 0;
  background-color: #3293b2;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 60px;
  font-size: 28px;
  font-weight: 600;
  color: #f9fafb;
}
