.process-section {
  padding-top: 60px;
}

.process-title {
  margin-bottom: 28px;
  text-align: center;
  font-size: 36px;
  line-height: 1.4;

  background: linear-gradient(to right, #3a6ee1, #04cb64);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.process-desc {
  margin: 0 auto 16px auto;
  max-width: 550px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.process-list {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.process-item {
  padding: 22px 12px;
}

.process-svg {
  display: block;
  margin: 0 auto 12 auto;
}

.process-item-title {
  margin: 0 auto 8px auto;
  width: 200px;
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
}

.process-item-desc {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

.process-container {
  margin-top: 60px;
  padding: 50px 0;
  width: 100%;
  background: linear-gradient(to left, #04cb64 20%, #f9fafb);
}

.process-container-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.process-text {
  font-size: 38px;
  line-height: 1.4;
  color:  #f9fafb;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .process-text {
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .process-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .process-item {
    width: 300px;
  }

  .process-text {
    font-size: 46px;
  }
}
